* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "MesloLGS Nerd Font";
}

//Global Styles
.bar {
  background-color: #3a3a3a;
  border: 2px solid #000000;
  border-radius: 10px;
}

// Styles on classes (see eww.yuck for more information)
.sidestuff {
  margin-right: 10px;
}
.workspaces {
  margin-left: 10px;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #d35d6e;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 2px;
  min-height: 10px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  border-radius: 2px;
  background-color: #d35d6e;
  color: #000000;
}
.label-ram {
  font-size: large;
}
.workspaces button:hover {
  color: #d35d6e;
}
